@import "./common/colors.scss";

html {
  overflow-y: scroll;
}

header {
  display: flex;
  margin: 0;
  padding: 10px 50px;
  color: white;
  background-color: $mainColor;
}
.title {
color: white;
  width: 30%;
  transform: translate(-1%, -1%);
  font-size: 20px;
  letter-spacing: 0.1em;
  
  text-shadow:  4px 4px #000000;
  .titleText:hover {
    cursor: default;
    user-select: none;
  }
}

.titleText {
  a {
    text-decoration: none;
    color: white;
  }
}
.menu {
  width:40%;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    color: inherit;
  }

  div {
    padding: 5px 10px;
    background-color: $secondaryColor;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 20px;
    &:hover {
      background-color: $hover;
    }
  }
}

.author{
  position: absolute;
  top: 30px;
  left: 200px;
  display: flex;
  align-items: center;
  font-size: smaller;
  font-style: italic;
}
